body {
  font-weight: 300;
}
.lead {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}
.lead-lg {
  font-size: 24px;
}
.lead-xl {
  font-size: 30px;
}
.heading {
  font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}
.heading-xs {
  font-size: 18px;
}
.heading-sm {
  font-size: 22px;
}
.heading-lg {
  font-size: 32px;
}
.heading-xl {
  font-size: 38px;
}
.spacing {
  display: block;
  color: rgba(0, 0, 0, 0.1);
}
.spacing-1 {
  height: 1rem;
}
.spacing-2 {
  height: 2rem;
}
.spacing-3 {
  height: 3rem;
}
.spacing-4 {
  height: 4rem;
}
.spacing-5 {
  height: 5rem;
}
.spacing-6 {
  height: 6rem;
}
.spacing-7 {
  height: 7rem;
}
.spacing-8 {
  height: 8rem;
}
.spacing-9 {
  height: 9rem;
}
.spacing-10 {
  height: 10rem;
}
.spacing-col {
  height: 15px;
}
.text-center .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
  .text-center-xs .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center;
  }
  .text-center-sm .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .text-center-md {
    text-align: center;
  }
  .text-center-md .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .text-center-lg {
    text-align: center;
  }
  .text-center-lg .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
}
.btn {
  font-family: "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.form-control {
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.loading {
  position: relative;
  opacity: .5;
}
.loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img-group {
  margin: 0 -5px 10px;
}
.img-group ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-group ul > li {
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell;
  vertical-align: top;
}
.img-group ul > li > img,
.img-group ul > li > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.main-header {
  background: #fff;
  margin-bottom: 15px;
  border-bottom: 5px solid #ccc;
}
.main-header .navbar-header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.main-header .navbar-brand {
  height: 65px;
  padding-top: 0;
  padding-bottom: 0;
}
.main-header .navbar-brand img {
  display: block;
  width: auto;
  height: 100%;
}
.main-header .navbar-nav > li > a {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  background: transparent;
}
.main-header .navbar-nav > li > a:hover,
.main-header .navbar-nav > li > a:focus {
  color: inherit;
}
.main-header .navbar-nav > .active > a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 160px;
  margin-left: -80px;
  border-bottom: 2px solid;
}
.main-header .navbar-toggle {
  float: none;
  position: absolute;
  top: 40px;
  right: 15px;
  margin: 0;
  border-color: #666;
}
.main-header .navbar-toggle .icon-bar {
  background-color: #666;
}
@media (max-width: 1199px) {
  .main-header .main-header-navbar-collapse {
    background: #eee;
  }
}
@media (min-width: 1200px) {
  .main-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-header .navbar-brand {
    height: 70px;
  }
  .main-header .navbar-header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-header .navbar-nav {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .main-header .navbar-nav > .last > a {
    padding-right: 0;
  }
  .main-header .navbar-nav > .first > a {
    padding-left: 0;
  }
  .main-header .navbar-nav > li > a {
    padding: 0 20px;
  }
  .main-header .navbar-nav > .active > a:after {
    width: auto;
    left: 10px;
    right: 10px;
    bottom: -10px;
    margin-left: 0;
  }
  .main-header .navbar-nav > .active.last > a:after {
    right: 0;
  }
  .main-header .navbar-nav > .active.first > a:after {
    left: 0;
  }
}
.main-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 260px;
  margin-left: -130px;
  border-bottom: 5px solid;
}
.main-section-gray {
  background: #eee;
}
.main-section-gray + .main-section:before {
  border-bottom-color: #eee;
}
.main-section-dark {
  background: #000000 url(../img/dark-bg.png);
  color: #ccc;
}
.main-section-dark:before {
  border-bottom-color: #fff;
}
.main-section-dark a {
  color: #666;
}
.main-section-dark .lead {
  color: #999;
}
.main-section-dark .heading {
  color: #fff;
}
.main-section-dark .btn-primary {
  color: #000;
  background: #fff;
}
.main-section-dark .form-control {
  color: #fff;
  border-color: #222;
  background-color: #000;
}
.main-section-dark .form-control::-moz-placeholder {
  color: #666666;
  opacity: 1;
}
.main-section-dark .form-control:-ms-input-placeholder {
  color: #666666;
}
.main-section-dark .form-control::-webkit-input-placeholder {
  color: #666666;
}
.main-alerts {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}
.main-alerts .alert {
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.main-alerts .alert:first-child,
.main-alerts .alert + .alert {
  border-top: 0;
}
.main-alerts .alert:last-child {
  border-bottom: 0;
}
.main-map {
  position: relative;
  overflow: hidden;
  padding-top: 400px;
  padding-top: calc(320px + 5%);
  background-color: #ddd;
}
.main-map-map {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}
.main-map-link.btn {
  position: absolute;
  width: 280px;
  left: 50%;
  bottom: 30px;
  margin-left: -150px;
  padding: .5em;
  color: #999;
  border-color: #ccc;
  border-radius: 1.25em;
  background: rgba(255, 255, 255, 0.5);
}
.main-map-link.btn:hover,
.main-map-link.btn:focus {
  color: #666;
  border-color: #999;
}
.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#top {
  overflow: hidden;
}
#top:before {
  top: -300px;
  left: 0;
  right: 0;
  bottom: -300px;
  width: auto;
  height: auto;
  margin: 0;
  border: 0;
  -webkit-box-shadow: inset 0 0 600px 100px #000000;
  box-shadow: inset 0 0 600px 100px #000000;
}
#top .container {
  position: relative;
  z-index: 1;
}
#top .img-group > ul > li > img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px 10px #000000;
  box-shadow: 0 0 40px 10px #000000;
}
#empresa .img-group > ul > li > img {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1200px) {
  #qualidade {
    background: #ffffff url(../img/qualidade.jpg) no-repeat;
    background-size: auto 100%;
  }
}
#clientes .img-group ul > li > a > img {
  border: 1px solid #ddd;
  opacity: .8;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#clientes .img-group ul > li:hover > a > img,
#clientes .img-group ul > li > a:focus > img {
  opacity: 1;
}
#contato {
  padding-bottom: 0;
}
#contato textarea {
  min-height: 160px;
}
#contato button[type="submit"] {
  padding-left: 2.4em;
  padding-right: 2.4em;
}
