//
// Load core variables
// --------------------------------------------------

@import "../../vendor/bootstrap/less/variables.less";

//
// Variables
// --------------------------------------------------


//== Colors
//
//

@brand-primary: #000;


//== Scaffolding
//
//## Settings for some of the most global styles.

@text-color: #000;


//== Typography
//
//##

@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-weight: 700;


//== Components
//
//##

@border-radius-base: 3px;
@border-radius-large: 3px;
@border-radius-small: 3px;


//== Grid system
//
//##

@grid-float-breakpoint: @screen-lg-min;


//== Container sizes
//
//##

@container-large-desktop: ((1000 + @grid-gutter-width));
