@import "bootstrap/variables.less";
@import "../vendor/bootstrap/less/mixins.less";

body {
	font-weight: 300;
}

.lead {
	margin-bottom: ceil(@line-height-computed / 2);
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;

	&-lg { font-size: 24px; }
	&-xl { font-size: 30px; }
}

.heading {
	font-family: "Oswald", @font-family-base;
	font-size: 26px;
	line-height: 1.3;
	letter-spacing: 0.18em;
	text-transform: uppercase;

	&-xs { font-size: 18px; }
	&-sm { font-size: 22px; }
	&-lg { font-size: 32px; }
	&-xl { font-size: 38px; }
}

.spacing {
	display: block;
	color: rgba(0,0,0,.1);

	&-1  { height: 1rem; }
	&-2  { height: 2rem; }
	&-3  { height: 3rem; }
	&-4  { height: 4rem; }
	&-5  { height: 5rem; }
	&-6  { height: 6rem; }
	&-7  { height: 7rem; }
	&-8  { height: 8rem; }
	&-9  { height: 9rem; }
	&-10 { height: 10rem; }
	&-col { height: ceil(@grid-gutter-width / 2); }
}

.text-center {
	.img-responsive {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: @screen-xs-max) {
	.text-center-xs { text-align: center; .img-responsive { margin-left: auto; margin-right: auto; } }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.text-center-sm { text-align: center; .img-responsive { margin-left: auto; margin-right: auto; } }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.text-center-md { text-align: center; .img-responsive { margin-left: auto; margin-right: auto; } }
}

@media (min-width: @screen-lg-min) {
	.text-center-lg { text-align: center; .img-responsive { margin-left: auto; margin-right: auto; } }
}

.btn {
	font-family: "Oswald", @font-family-base;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.form-control {
	max-width: 100%;
	.box-shadow(none);
}

.loading {
	position: relative;
	opacity: .5;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.img-group {
	margin: 0 -5px ceil(@line-height-computed / 2);

	ul {
		display: table;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		> li { 
			padding-left: 5px;
			padding-right: 5px;
			display: table-cell; 
			vertical-align: top;
			
			> img,
			> a > img {
				display: block;
				max-width: 100%;
				height: auto;
				margin: 0 auto;
			}
		}
	}
}

.main-header {
	background: #fff;
	margin-bottom: 15px;
	border-bottom: 5px solid #ccc;

	.navbar-header {
		padding-top: 25px;
		padding-bottom: 25px; 
	}

	.navbar-brand {
		height: 65px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-brand img {
		display: block;
		width: auto;
		height: 100%;
	}

	.navbar-nav > li > a {
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: #000;
		background: transparent;

		&:hover, &:focus { color: inherit; }
	}

	.navbar-nav > .active > a:after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 5px;
		width: 160px;
		margin-left: -80px;
		border-bottom: 2px solid;
	}

	.navbar-toggle { 
		float: none;
		position: absolute;
		top: 40px;
		right: 15px;
		margin: 0;
		border-color: #666;
	}

	.navbar-toggle .icon-bar { background-color: #666; }

	@media (max-width: (@grid-float-breakpoint - 1)) {
		.main-header-navbar-collapse {
			background: #eee;
		}		
	}

	@media (min-width: @grid-float-breakpoint) {
		padding-top: 20px;
		padding-bottom: 20px; 

		.navbar-brand {
			height: 70px;
		}
		
		.navbar-header {
			padding-top: 0;
			padding-bottom: 0; 
		}

		.navbar-nav {
			padding-top: 30px;
			padding-bottom: 20px;
		}

		.navbar-nav > .last > a { padding-right: 0; }
		.navbar-nav > .first > a { padding-left: 0; }

		.navbar-nav > li > a {
			padding: 0 20px;
		}

		.navbar-nav > .active > a:after {
			width: auto;
			left: 10px;
			right: 10px;
			bottom: -10px;
			margin-left: 0;
		}

		.navbar-nav > .active.last > a:after { right: 0; }
		.navbar-nav > .active.first > a:after { left: 0; }
	}
}

.main-section {
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 260px;
		margin-left: -130px;
		border-bottom: 5px solid;
	}

	&-gray { 
		background: #eee; 
		
		+ .main-section:before { border-bottom-color: #eee; }
	}

	&-dark { 
		background: #000 url(../img/dark-bg.png); 
		color: #ccc;

		&:before { border-bottom-color: #fff; }

		a {	color: #666; }

		.lead { color: #999; }

		.heading { color: #fff; }

		.btn-primary {
			color: #000;
			background: #fff;
		}

		.form-control {
			color: #fff;
			border-color: #222;
			background-color: #000;
			.placeholder(#666);
		}
	}
}

.main-alerts {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	text-align: center;

	.alert {
		margin: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;

		&:first-child,		
		+ .alert { border-top: 0; }

		&:last-child { border-bottom: 0; }
	}
}

.main-map {
	position: relative;
	overflow: hidden;
	padding-top: 400px;
	padding-top: ~'calc(320px + 5%)';
	background-color: #ddd;

	&-map {
		.box-sizing(content-box);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 30px;
	}

	&-link.btn {
		position: absolute;
		width: 280px;
		left: 50%;
		bottom: 30px;
		margin-left: -150px;
		padding: .5em;
		color: #999;
		border-color: #ccc;
		border-radius: 1.25em;
		background: rgba(255,255,255,0.5);

		&:hover, &:focus {
			color: #666;
			border-color: #999;
		}
	}
}

.main-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

#top {
	overflow: hidden;

	&:before {
		top: -300px;
		left: 0;
		right: 0;
		bottom: -300px;
		width: auto;
		height: auto;
		margin: 0;
		border: 0;
		.box-shadow(inset 0 0 600px 100px rgba(0,0,0,1));
	}

	.container { 
		position: relative; 
		z-index: 1;
	}

	.img-group > ul > li > img {
		border-radius: 50%;
		.box-shadow(0 0 40px 10px rgba(0,0,0,1));
	}
}

#empresa {
	.img-group > ul > li > img {
		border-radius: 50%;
		.box-shadow(0 0 20px 2px rgba(0,0,0,.3));
	}
}

#qualidade {
	@media (min-width: @screen-lg-min) {
		background: #fff url(../img/qualidade.jpg) no-repeat;
		background-size: auto 100%;	
	}
}

#clientes {
	.img-group ul > li > a > img {
		border: 1px solid #ddd;
		opacity: .8;
		.transition(opacity .2s);
	}

	.img-group ul > li:hover > a > img,
	.img-group ul > li > a:focus > img {
		opacity: 1;
	}
}

#contato {
	padding-bottom: 0;

	textarea {
		min-height: 160px;
	}

	button[type="submit"] {
		padding-left: 2.4em;
		padding-right: 2.4em;
	}
}
